{% extends "SaleInfo/base.html" %}

{% block is_in %}
<form class="navbar-form navbar-right my-sign-in-right-bar">
  <div class="form-group">
    <a href="{% url 'logout' %}" class='navbar-brand'>Sign Out</a>
  </div>
</form>
{% endblock %}

{% block find_block %}
<form class="navbar-form navbar-right" method="POST" action="{% url 'home_find' %}">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search Brand" name="brand_name">
  </div>
  <button type="submit" class="btn btn-default">Find</button>
  {% csrf_token %}
</form>
{% endblock %}

{% block content %}
<div id="list">
</div>

<!-- Sale Information Update JavaScript
================================================== -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/static/js/home.js"></script>
{% endblock %}