{% extends "SaleInfo/base.html" %}
{% block content %}
<div class="my-sign-up-container">
  <div class="my-sign-up-sub-container">
    <div class="my-sign-up-sub-sub-container">
      {% if validlink %}
      <form action="" method="post" class="form-signup">
        <table>
          <tr>
            <td><p class="saleinfo-content">Please enter your new password<br/>twice.</p></td>
            <td></td>
          </tr>
          <tr>
            <td><input type="text" name="new_password1" class="form-control my-sign-up-input saleinfo-content" placeholder="{{form.new_password1.label}}" required autofocus></td>
            <td>{{ form.new_password1.errors }}</td>
          </tr>
          <tr>
            <td><input type="text" name="new_password2" class="form-control my-sign-up-input saleinfo-content" placeholder="{{form.new_password2.label}}" required autofocus></td>
            <td>{{ form.new_password2.errors }}</td>
          </tr>
          <tr>
            <td><input type="submit" value="Change My Password" class="btn btn-primary"></td>
          </tr>
        </table>
        {% csrf_token %}
      </form>
      {% else %}
      <h1>Password reset unsuccessful</h1>
      <p>The password reset link was invalid,<br/>
         possibly because it has already been used.<br/>
         Please request a new password reset.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}