{% extends "SaleInfo/base.html" %}
{% block content %}
<div class="my-sign-up-container">
  <form action="" method="post">
    <h1 class='saleinfo-title'>Reset Password</h4>
    <h4 class='saleinfo-content'>Please specify your email address to receive instructions for resetting it.</h3>
    <p>
      <label for="id_email" class='saleinfo-content'>E-mail address:</label>
      <label class="my-forget-input"><input type="text" name="email" class="form-control saleinfo-content" placeholder="{{form.email.label}}" required autofocus></label>
      <input type="submit" class="btn btn-primary">
      {{form.email.errors}}
    </p>
    {% csrf_token %}
  </form>
</div>
{% endblock %}